.idea/
__pycache__/
.pytest_cache/
venv/
.venv/
.vs/
*.pyproj
*.sln
TestResults/
env/
lib/config.ini
*.log
logs/
~$*
orders_dump.txt
routes_list.json
routes_examples/
tests/allure-results
tests-mobile/allure-results
allure-results/
allure-report/
tests/allure-report/
report/
tests/report/
allure-notifications-4.6.1.jar